<!DOCTYPE html>
<html>
<head>
        <link href="./Contact_form.css" rel="stylesheet" />
</head>
<body >
    <header id="header" class="center animate-top">
        <h2>Get in touch with Stingy</h2>
        <p class="center animate-top">Μπορείτε να έρθετε με εύκολια σε επικοινωνία μαζί μας συμπληρώνοντας την παρακατω φόρμα για 
            οποιοδήποτε θέμα σχετικά με τις υπηρεσίες μας </p>
    </header>
    <div class="container">  
        
        <form id="contact" action="" method="post">
            <h3>Contact Form</h3>
            <h4></h4>
            <fieldset>
                <input placeholder="Your name" type="text" tabindex="1" required autofocus>
            </fieldset>
            <fieldset>
                <input placeholder="Your Email Address" type="email" tabindex="2" required>
            </fieldset>
            <fieldset>
                <textarea placeholder="Type your message here...." tabindex="5" required></textarea>
            </fieldset>
            <fieldset>
                <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
            </fieldset>
        </form>
  </div>
</body>
</html>>
