@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

header{
    color: #910f2d;
    margin-top: 10px;
    height: 25px;
}

#header h2{
    font-size: 40px;
    margin-top: 20px;
    margin-left: 45%;
}

#header p{
    margin:2% 0 0 0 ;
    font-size: 20px;
    position: relative;
    padding: 0% 30% 0 30%;
}

.center{
    align-content: center;
    text-align: center
}

body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 12px;
    line-height: 30px;
    color: #910f2d;
    background: #f1f1f1;  
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  
}

.container {
    max-width: 400px;
    width: 100%;
    margin: 0 auto 0 auto;
    position: relative; 
}

.avatar{
    vertical-align: middle;
    width: 20%;
    height: 15%;
    border-radius: 50%;
    align-content: center;
}

#contact input[type="text"],
#contact input[type="firstname"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="password"],
#contact button[type="submit"] {
    font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
    border-radius: 50px;
    box-shadow: none;
}

#contact textarea{
    font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
    border-radius: 30px;
}

#contact {
    background-color:#FFF;
    background-size: cover;
    background-repeat: round;
    background-attachment: scroll; 
    padding: 20px;
    margin: 60px 200px;
    box-shadow: 0 0 20px 0 #910f2d, 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 50px;
}

#contact h3 {
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
}

button{
    color: #FFF;
    background-color: #000000;
    width: 20%;
    border-radius: 40%;
}

#contact h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 13px;
    font-weight: 400;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#contact input[type="text"],
#contact input[type="firstname"],
#contact input[type="lastname"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="password"],
#contact textarea {
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 5px 0 5px;
    padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="firstname"]:hover,
#contact input[type="firstname"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
}

#contact textarea {
    height: 100px;
    max-width: 80%;
    resize: none;
}

#contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #777;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}

#contact button[type="submit"]:hover {
    background: rgb(167, 52, 109);
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}


#contact input:focus,
#contact textarea:focus {
    outline: 0;
    border: 1px solid #aaa;
}

::-webkit-input-placeholder {
    color: #888;
}

:-moz-placeholder {
    color: #888;
}

::-moz-placeholder {
    color: #888;
}

:-ms-input-placeholder {
    color: #888;
}